@model Domain.Superpower

@{
    ViewBag.Title = "Суперспособность";
}

<h2>@Html.DisplayFor(model => model.Superhero.Name)</h2>

<div>
    <h4>Суперспособность:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>

<div class="form-group">
    @if (Model.ImageData == null)
            {
        <img class="img-thumbnail" width="320" height="320" src="~/Content/Images/default_superpower2.png" />
    }
    else
    {
        <img class="img-thumbnail" width="320" height="320" src="@Url.Action("GetImage", "Superpower", new {superpowerId = Model.Id })" />
    }
</div>

<div class="btn btn-default">
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id })
</div>

<div class="btn btn-default">
    @Html.RouteLink("Назад", new { controller = "Superhero", action = "Edit", id = Model.SuperheroId })
</div>



